<div class="container">
  <h2 style="text-align:center;">
    <%= @post.title %>
  </h2>
  <%= pie_chart @post.impressions.group(:referrer).count %>
</div>
<h5 style="text-align:center;">
<%= "#{@post.impressionist_count} views and" %>
<%= "#{@post.impressionist_count(:filter=>:ip_address)} unique views so far!" %>
</h5>
<%= simple_form_for @post do |f| %>
<div style="color:red;"><%= f.error_notification %></div>
  <%= f.input :steem %>
  <%= f.input :payout %>
  <%= f.button :submit, :class => "btn blue" %>
<% end %>