.categorywrapper
	- @posts.each_with_index do |post, index|
		.categorybox
			%a{ :href => category_path('special_occasions')}
				.categorytext	
					= post.title
				= image_tag post.image
		- if user_signed_in?
			.togglewrapper
				%p
				- if current_user.liked? post
					= link_to unuse_post_path(post),:class => "btn waves-effect waves-light usead", method: :put do
						Unuse
					%input{:id => "identifier-#{index}",:class => "toggle-box",:type => 'checkbox'}
					%label{:for => "identifier-#{index}"} Embed Code!
					%div
						%br
						%code{:id => "bar#{index}"} [![Foo](#{root_url.chomp('/')}#{post.image})](#{root_url}post/#{post.id}/#{current_user.name})
						%p
						%button.clipboard-btn{"data-clipboard-action" => "copy", "data-clipboard-target" => "#bar#{index}"}
							Copy to clipboard
				- else
					= link_to use_post_path(post),:class => "btn waves-effect waves-light usead", method: :put do
						Use
						/
							To display upvotes count
							\#{post.get_upvotes.size}
		- else
			.togglewrapper
				You need to be signed in, to see this area.